/* ---styling--- Developed by Anubis*/

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
	color:  #000;
	box-sizing: content-box;
}
.bk {
	background-image: url(./lab.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 24em;
}
/* ---------======== Page Header ============-----------*/
.header {
	margin: 0;
}
.down {
	display: none;

}
.dropdown {
	display: none;
}

nav {
	width: 100%;
	position: fixed;
	padding: 10px;
	height: 2.5em;
}
nav.hov {
	background-color: rgba(0, 0, 0, 0.7);
}
nav li {
	font-size: 19px;
	padding: 0 3vh 0 0;
	float: right;
	list-style: none;
}
nav li a {
	position: relative;
	color: #fff;
	text-decoration: none;

}
a:hover {
	color: red;
}
.links {
	cursor: pointer;
}

.Words span {
	font-size: 18px;
}
.Words h1 {
	margin-top: 3em;
	font-size: 37px;
	font-weight: 800;
}
.Words {
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 24em;
	background-color: rgba(0, 0, 0, 0.5);

}
.Words p{
	overflow: hidden;
}
.Words p span{
    font-size: 25px;
    color:#ff2c45;
    font-weight: 600;
    display: inline-block;
    line-height: 46px;
    display: none;
}
.Words p span.text-in{
	display: block;
	animation: textIn .5s ease;
}
.Words p span.text-out{
	animation: textOut .5s ease;
}

/*-------------======== Main page =========----------------*/
.main {
	overflow: 0 auto;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.1);
}
.main-page {
	text-align: center;
	font-family: sans-serif;
}
.cs {
	border-radius: 15px;
}
.cs a{
	text-decoration: none;
}
.Cybersecurity {
	display: inline-flex;
}
.Cybersecurity img {
	margin: 1em;
	border-radius: 50%;
	height: 10em;
	width: 10.2em;
}


/* -----------================ content =============------------------*/

.contenty {
	height: 50vh;
	width: 100%;
	color: #000;
}
.content {
        display: flex;
        justify-content: center;
	font-size: 16px;
	font-family: sans-serif;

}

.mission {
	padding: 1vh;
	border-radius: 12px;
	background-color: rgba(0, 0, 255, 0.2);
	margin-right: 2em ;
	text-align: center;
	height: 13em;
	width: 18em;
}
.vision {
	padding: 1vh;
	border-radius: 12px;
	background-color: rgba(0, 0, 255, 0.2);
	text-align: center;
	height: 13em;
	width: 18em;
}

/* ------------=========== Info page =====-----------*/
.infim {
	background:  rgba(0, 0, 0, .9);
}
.info, .infi {
	display: flex;
	margin: 2em; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.info, .infi span {
	text-align: left;
}
.hinfo h2{
	margin: 0;
	padding-top: 1em;
	text-align: center;
}
.hinfo {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}
/*-----------========= List Of Services ===============---------*/
.pro {
	padding: 3em 0 13em 0;
	text-align: center;
	height: 50vh;
        display: flex;
        flex-direction: column;
        justify-ccontent: center;
        align-items: center;
        margin-left: 5px;
        overflow: auto;
        

}
.pro span {
	text-align: left;
	margin: 5px;
        display: flex;
}
.pro span ul li {
	margin: 3px;
}


/*-------------============ Footer =========------------*/
.footer {
	background: rgba(0, 0, 200, 0.5);
	width: 100%;
	color: #000;
}
.block {
	display: inline-flex;
        width: 100%;
        justify-content: center;
        align-items: center;
}
.address {
	display: grid;
	padding-left: 1em;
}
.address p {
        margin: 0;
        padding: 0;
}
.contacts {
	width: 20em;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.user {
	font-size: 15px;
	margin: 0.8em;
	width: 100%;
}.mail {
	font-size: 15px;
	margin: 0.8em;
	width: 100%;
}.submit {
	height: 2em;
	width: 100%;
	margin: 1em 1em 1em 1.5em;
}.area {
	height: 10vh;
	width: 100%;
	margin: 0.8em;
}
.ims {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 3em ;
}
.ims img {
	width: 90px;
	height: 80px;
}

/*---------========== media Queries ==========----------------*/

@media screen and (max-width: 920px){
	/* ---styling--- Developed by Anubis*/
body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
	color:  #000;
	box-sizing: content-box;
}
.bk {
	background-image: url(./lab.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 24em;
}
/* ---------======== Page Header ============-----------*/
.header {
	margin: 0;
}
.down{
	display: none;
}
.showing {
	display: flex;
	flex-direction: column;
	float: left;
}
.dropdown {
	height: 30px;
	width: 40px;
	margin: 0 10px 5px 0;
	display: flex;
}

nav {
	width: 100%;
}
nav.hov {
	background-color: rgba(0, 0, 0, 0.7);
}
nav li {
	display: none;
	font-size: 19px;
	padding: 0 3vh 0 0;
	list-style: none;
}
nav li a {
	position: relative;
	color: #fff;
	text-decoration: none;

}
a:hover {
	color: red;
}
.links {
	cursor: pointer;
}

.Words span {
	font-size: 18px;
}
.Words h1 {
	margin-top: 3em;
	font-size: 37px;
	font-weight: 800;
}
.Words {
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 24em;
	background-color: rgba(0, 0, 0, 0.5);

}
.Words p{
	overflow: hidden;
}
.Words p span{
    font-size: 25px;
    color:#ff2c45;
    font-weight: 600;
    display: inline-block;
    line-height: 46px;
    display: none;
}
.Words p span.text-in{
	display: block;
	animation: textIn .5s ease;
}
.Words p span.text-out{
	animation: textOut .5s ease;
}

/*-------------======== Main page =========----------------*/
.main {
	overflow: 0 auto;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.1);
}
.main-page {
	text-align: center;
	font-family: sans-serif;
}
.cs {
	border-radius: 15px;
}
.cs a{
	text-decoration: none;
	font-size: 12px;
}
.Cybersecurity {
	display: inline-flex;
	padding: 0.7em;
}
.Cybersecurity img {
	margin: 0.5em;
	border-radius: 50%;
	height: 5em;
	width: 5.2em;
}

/* -----------================ content =============------------------*/

.contenty {
	height: 50vh;
	width: 100%;
	color: #000;
}
.content {
        display: flex;
        justify-content: center;
	font-size: 16px;
        margin: 1em;
	font-family: sans-serif;

}

.mission {
	padding: 1vh;
	border-radius: 12px;
	background-color: rgba(0, 0, 255, 0.2);
	text-align: center;
	height: auto;
	width: 14em;
}
.vision {
	padding: 1vh;
	border-radius: 12px;
	background-color: rgba(0, 0, 255, 0.2);
	text-align: center;
	height: auto;
	width: 14em;
}

/* ------------=========== Info page =====-----------*/
.infim {
        position: relative;
	background:  rgba(0, 0, 0, .9);
}
.info, .infi {
	display: flex;
	margin: 1em; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.info, .infi span {
	text-align: left;
}
.hinfo h2{
	margin: 0;
	padding-top: 1em;
	text-align: center;
}
.hinfo {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}
/*-----------========= List Of Services ===============---------*/
.pro {
	padding: 1em 0 1em 0;
	text-align: center;
	height: 50vh;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	overflow-x: scroll;
	margin-left: 5px;

}
.pro h1 {
	font-size: 30px;
}
.pro span {
	text-align: left;
	margin: 5px;
}
.pro span ul li {
	margin: 3px;
}


/*-------------============ Footer =========------------*/
.footer {
	background: rgba(0, 0, 200, 0.5);
	width: 100%;
	color: #000;
}
.block {
	display: flex;
	justify-content: center;
        align-items: center;
        flex-direction: column;
}
.address {
	display:  none;

}
.contacts {
        display: flex;
	width: 100%;
	text-align: center;
}
.user {
	font-size: 15px;
	margin: 0.8em;
	width: 100%;
}.mail {
	font-size: 15px;
	margin: 0.8em;
	width: 100%;
}.submit {
	height: 2em;
	width: 100%;
	margin: 1em 1em 1em 1.5em;
}.area {
	height: 10vh;
	width: 100%;
	margin: 0.8em;
}
.ims {
	justify-content: center;
	text-align: center;
}
.ims img {
	width: 70px;
	height: 60px;
}

}
/* ----------========== animation keyframes ==========-----------*/

@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}

