body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
	color:  #000;
	box-sizing: content-box;
        background-color: rgba(0,0,0,.1);
}
.bk {
	background-image: url(./lab.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 24em;
}
/* ---------======== Page Header ============-----------*/
.header {
	margin: 0;
}
.down {
	display: grid;
	padding: 0;
	color: #000;
	background: rgba(0,0,200,.50);
	position: absolute;

}
.showing {
	display: none;
}
.dropdown {
	display: none;
}
nav {
	width: 100%;
	position: fixed;
	padding: 10px;
	display: flex;
	height: 2.7em;
}
nav.hov {
	background-color: rgba(0, 0, 0, 0.7);
}
nav li {
	margin-right: 1.5em;
	font-size: 19px;
	float: right;
	list-style: none;
	flex: 1;
}
nav li a {
	display: flex;
	position: relative;
	color: #fff;
	text-decoration: none;

}
img[name="settings"],[name="contacts"],
[name="products"], [name="About-us"],
[name="home"] {
	padding: 0 3px;
	height: 1em;
	width: auto;
}
a:hover {
	color: red;
}
.links {
	cursor: pointer;
}
.logo {
	flex: 1;
	z-index: 1;
}
.Words span {
	font-size: 18px;
}
.Words h1 {
	margin-top: 3em;
	font-size: 37px;
	font-weight: 800;
}
.Words {
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 24em;
	background-color: rgba(0, 0, 0, 0.5);

}
.Words p{
	overflow: hidden;
}
.Words p span{
    font-size: 25px;
    color:#ff2c45;
    font-weight: 600;
    display: inline-block;
    line-height: 46px;
    display: none;
}
.Words p span.text-in{
	display: block;
	animation: textIn .5s ease;
}
.Words p span.text-out{
	animation: textOut .5s ease;
}

/*-------------======== Main page =========----------------*/
.main {
	overflow: 0 auto;
	margin: 0;
}
.main-page {
	text-align: center;
	font-family: sans-serif;
}
.cs {
	border-radius: 15px;
}
.cs a{
	text-decoration: none;
}
.Cybersecurity {
	display: inline-flex;
}
.Cybersecurity img {
	margin: 1em;
	border-radius: 50%;
	height: 10em;
	width: 10.2em;
}


/* -----------================ content =============------------------*/

.contenty {
	margin: 2em 0;
	width: 100%;
	color: #000;
}
.content {
        display: flex;
        justify-content: center;
	font-size: 16px;
	font-family: sans-serif;

}

.mission {
	padding: 1vh;
        color: #fff;
	font-style: oblique;
	background: rgba(0,0,0,1);
	margin-right: 2em ;
	text-align: center;
	height: 13em;
	width: 18em;
}
.vision {
	font-style: oblique;
        color: #fff;
	padding: 1vh;
	background: rgba(0,0,0,1);
	text-align: center;
	height: 13em;
	width: 18em;
}

/* ------------=========== Info page =====-----------*/
.infim {
        color: #fff;
	background:  rgba(0, 0, 0, 1);
}
.info, .infi {
	display: flex;
	margin: 2em; 
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: justify;
}

.info span{
	margin: 1em;
        white-space: normal;
}
.info img {
	order: 2;
}
.infi span{
	margin: 1em;
        white-space: normal;
}

.infim h2{
	margin: 0;
	padding-top: 1em;
	text-align: center;
}
/*-----------========= List Of Services ===============---------*/
.pro {
	padding: 3em;
        margin-left: 5px;
        overflow: auto;
}
.title {
	text-align: center;
}
.list {
	display: flex;
}
.pro span {
	text-align: left;
	margin: 5px;
}
.pro span ul li {
	margin: 3px;
}


/*-------------============ Footer =========------------*/
.footer {
	background: rgba(0, 0, 200, 0.5);
	width: 100%;
	color: #000;
}
.block {
	display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
}
.address {
	display: grid;
}
.address p {
        margin: 1em;
}
.contacts {
	display: flex;
        color: #fff;
    	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 20em;
	margin: 2em 0;
	background: rgba(0,0,0,0.7)

}
input[name="user"] {
	margin: 0.8em 0;
	width: 100%;
}
input[name="mail"] {
	margin: 0.8em 0;
	width: 100%;
}
.submit {
	cursor: pointer;
	color: #fff;
	background: green;
	border: solid green;
	border-radius: 5px;
	height: 2em;
	width: 100%;
	margin: 1em 0;
}.area {
	height: 10vh;
	width: 100%;
	margin: 0.8em 0;
}
.ims {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 3em;
}
.ims img {
	width: auto;
	height: 60px;
}

/*---------========== media Queries ==========----------------*/

@media screen and (max-width: 920px){
.bk {
	background-image: url(./lab.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 22em;
}
/* ---------======== Page Header ============-----------*/
.header {
	margin: 0;
}
.down {
	color: #000;
	background: rgba(0,0,200,.50);
	display: grid;
	position: relative;
}
.showing {
	display: none;
}
.nas {
	animation: fade 0.5s linear;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 20vh;
	position: absolute;
	justify-content: center;
	background: black;
	margin: 0;
	overflow: wrap;
	padding-top: 4em;
}
.show {
	display: none;
}
.dropdown {
	padding-top: 10px;
	display: flex;
	height: 30px;
	width: 60px;
	cursor: pointer;
	z-index: 3;
}
nav {
	width: 100%;
	padding: 0;
	display: flex;
	height: 3.5em;
}
nav.hov {
	background-color: rgba(0, 0, 0, 0.7);
}
nav li {
	font-size: 19px;
	list-style: none;

}
nav li a {
	color: #fff;
	text-decoration: none;
}
img[name="settings"],[name="contacts"],
[name="products"], [name="About-us"],
[name="home"] {
	margin: 0 1em;
	height: 1em;
	width: auto;
}
.logo {
	flex: 1;
	padding: 10px;
	z-index: 3;
}
.Words span {
	font-size: 18px;
}
.Words h1 {
	margin-top: 3em;
	font-size: 37px;
	font-weight: 800;
}
.Words {
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 22em;

}
.Words p{
	overflow: hidden;
}
.Words p span{
    font-size: 25px;
    color:#ff2c45;
    font-weight: 600;
    display: inline-block;
    line-height: 46px;
    display: none;
}
.Words p span.text-in{
	display: block;
	animation: textIn .5s ease;
}
.Words p span.text-out{
	animation: textOut .5s ease;
}

/*-------------======== Main page =========----------------*/
.main {
	overflow: 0 auto;
	margin: 0;
}
.main-page {
        display: grid;
        justify-content: center;
	text-align: center;
	font-family: sans-serif;
}
.cs {
	border-radius: 15px;
}
.cs a{
	text-decoration: none;
	font-size: auto;
}
.Cybersecurity {
	display: inline-flex;
	padding: 0.8em;
	overflow-x: auto;
}
.Cybersecurity img {
	margin: 0.5em;
	border-radius: 50%;
        width: 5.0em;
        height: 5.0em;
}

/* -----------================ content =============------------------*/

.contenty {
	margin: 2em 0;
	width: 100%;
	color: #000;
}
.content {
        display: flex;
        justify-content: center;
	font-size: 12px;
        margin: 1em;
	font-family: sans-serif;

}
.mission {
	padding: 1vh;
        color: #fff;
        background: rgba(0,0,0,1);
	font-style: oblique;
	margin-right: 2em ;
	text-align: center;
	height: auto;
	width: 14em;
}
.vision {
	font-style: oblique;
        color: #fff;
	padding: 1vh;
        color: #fff;
        background: rgba(0,0,0,1);
	text-align: center;
	height: auto;
	width: 14em;
}

/* ------------=========== Info page =====-----------*/
.infim {
        font-size: 12px;
        color: #fff;
	background:  rgba(0, 0, 0, 1);
}
.info, .infi {
	display: flex;
	margin: 1em; 
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.info span {
	order: 2;
}
.infim h2{
	margin: 0;
	padding-top: 1em;
	text-align: center;
}
/*-----------========= List Of Services ===============---------*/
.pro {
	padding: 3em;
        margin-left: 5px;
        height: 50vh;
        overflow: auto;
        font-size: 15px;
}
.title {
	text-align: center;
}
.list {
	display: grid;
	justify-content: center;
}
.pro h1 {
	font-size: 30px;
}
.pro span {
	text-align: left;
	margin: 5px;
}
.pro span ul li {
	margin: 3px;
}


/*-------------============ Footer =========------------*/
.footer {
	background: rgba(0, 0, 200, 0.5);
	width: 100%;
	color: #000;
}
.block {
	display: flex;
	justify-content: center;
        align-items: center;
        flex-direction: column;
}
.address {
	display:  none;

}
.contacts {
	display: flex;
    	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 20em;
	margin: 3em 0;
	color: #fff;
        background: rgba(0,0,0,0.7)
}
input[name="user"] {
	margin: 0.8em 0;
	width: 100%;
}
input[name="mail"] {
	margin: 0.8em 0;
	width: 100%;
}
.submit {
	cursor: pointer;
	color: #fff;
	background: green;
	border: solid green;
	border-radius: 5px;
	height: 2em;
	width: 100%;
	margin: 1em 0;
}.area {
	height: 10vh;
	width: 100%;
	margin: 0.8em 0;
}
.ims {
	justify-content: center;
	text-align: center;
        margin: 0;
}
.ims img {
	width: 70px;
	height: 60px;
}

}
/* ----------========== animation keyframes ==========-----------*/

@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}
@keyframes fade{
	from{
		transform: translateY(-50px);
	}
	to{
		transform: translateY(0px);
	}
}
