/* ---styling--- Developed by Anubis*/

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	scroll-behavior: smooth;
	color:  #000;
	box-sizing: content-box;
}
.bk {
	background-image: url(./images/lab.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 24em;
}
/* ---------======== Page Header ============-----------*/
.header {
	margin: 0;
}
.down {
	display: none;

}
.showing {
	float: left;
	display: grid;
	padding: 0;
	margin: 0 auto;
	color: #fff;
	position: absolute;
}

nav {
	width: 100%;
	position: fixed;
	height: 2.5em;
	padding: 15px 0 0 0
}
nav.hov {
	background-color: rgba(0, 0, 0, 0.7);
}
nav li {
	font-size: 19px;
	padding: 0vh 2vh 0 0;
	float: right;
	list-style: none;
}
nav li a {
	position: relative;
	color: #fff;
	text-decoration: none;

}
a:hover {
	color: red;
}
.links {
	cursor: pointer;
}
.search {
	z-index: 1;
	margin: 7px 2em 0 2em;
	position: fixed;
}

.search-btn {
	position: relative;
	float: left;
	font-size: 13px;
	padding: 3px;
	width: 3.4em;
}

/* ------------========= socila media icons =======--------*/
.side-links {
	position: absolute;
	border-radius: 15px;
	margin: 14em 0 0 2em;
}
.icons {
	justify-content: center;
	text-align: center;
	width: 70em;
}
.icons img {
	padding: 7px 7px;
}
.Words span {
	font-size: 18px;
}
.Words h1 {
	margin-top: 3em;
	font-size: 37px;
	font-weight: 800;
}
.Words {
	position: absolute;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 24em;
	background-color: rgba(0, 0, 0, 0.5);

}
.Words p{
	margin: 0 0 0 24em;
	overflow: hidden;
}
.Words p span{
    font-size: 25px;
    color:#ff2c45;
    font-weight: 600;
    display: inline-block;
    line-height: 46px;
    display: none;
}
.Words p span.text-in{
	display: block;
	animation: textIn .5s ease;
}
.Words p span.text-out{
	animation: textOut .5s ease;
}

/*-------------======== Main page =========----------------*/
.main {
	overflow: 0 auto;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.1);
}
.main-page {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: grid;
	font-family: sans-serif;
}
.cs {
	border-radius: 15px;
}
.cs a{
	text-decoration: none;
}
.Cybersecurity {
	display: inline-flex;
}
.Cybersecurity img {
	margin: 1em;
	border-radius: 50%;
	height: 10em;
	width: 10.2em;
}

/* -----------================ content =============------------------*/

.contenty {
	justify-content: center;
	align-items: center;
	height: 50vh;
	width: 100%;
	color: #000;
}
.content {
	margin: 1em 22em;
	display: inline-flex;
	text-align: center;
	font-size: 16px;
	font-family: sans-serif;

}

.mission {
	padding: 1vh;
	border-radius: 12px;
	background-color: rgba(0, 0, 255, 0.2);
	margin-right: 2em ;
	text-align: center;
	height: 13em;
	width: 18em;
}
.vision {
	padding: 1vh;
	border-radius: 12px;
	background-color: rgba(0, 0, 255, 0.2);
	text-align: center;
	height: 13em;
	width: 18em;
}

/* ------------=========== Info page =====-----------*/
.infim {
	background:  rgba(0, 0, 0, .9);
}
.info, .infi {
	display: inline-flex;
	margin: 2em; 
	justify-content: center;
	align-items: center;
	text-align: center;
}
.info img {
	float:  right;
}
.info span{
	border-radius: 2px;
}
.infi span{
	border-radius: 2px;
}
.hinfo h2{
	margin: 0;
	padding-top: 1em;
	text-align: center;
}
.hinfo {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}
/*-----------========= List Of Services ===============---------*/
.pro {
	padding: 4em 0 4em 0;
	text-align: center;
	height: 50vh;

}
.pro span {
	text-align: left;
	margin: 5px;
	display: inline-flex;
}
.pro span ul li {
	margin: 3px;
}


/*-------------============ Footer =========------------*/
.footer {
	background: rgba(0, 0, 200, 0.5);
	width: 100%;
	color: #000;
}
.block {
	display: inline-flex;
}
.copy {
	padding-top: 2em;
	margin: 0;
	text-align: center;
}
.address {
	display: inline-grid;
	padding-left: 1em;
	line-height: 1px;
}
.new-icons a {
	margin-left: 10px;
}

.contacts {
	width: 20em;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 3em ;
}
.user {
	font-size: 15px;
	margin: 0.8em;
	width: 100%;
}.mail {
	font-size: 15px;
	margin: 0.8em;
	width: 100%;
}.submit {
	height: 2em;
	width: 100%;
	margin: 1em 1em 1em 1.5em;
}.area {
	height: 10vh;
	width: 100%;
	margin: 0.8em;
}
.ims {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 3em ;
}
.ims img {
	margin: 4px;
}

/*---------========== media Queries ==========----------------*/

@media screen and (max-width: 600px) {
	body {
		margin: 0;
		padding: 0;
		background-color: #fff;
		color: #000;
	}
	.bk {
		background-image: url(./images/lab.jpg);
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 24em;
	}
	nav {
	width: 100%;
	position: fixed;
	height: 2em;
	padding: 15px 0 0 0
	}
	nav.hov {
		background-color: rgba(0, 0, 0, 0.7);
	}
	nav li {
		font-size: 19px;
		padding: 0vh 2vh 0 0;
		float: right;
		list-style: none;
	}
	nav li a {
		position: relative;
		color: #fff;
		text-decoration: none;

	}
	a:hover {
		color: red;
	}
	.links {
		cursor: pointer;
	}
	.search {
		display: none;
		z-index: 1;
		margin: 15px 2em 0 2em;
		position: fixed;
	}
	.search-btn {
		position: relative;
		float: left;
		font-size: 13px;
		background-color: #fff;
		padding: 3px;
		width: 3.4em;
		color: #000;
		text-decoration: none;
	}
	.side-links {
		position: absolute;
		border-radius: 15px;
	}
	.icons img {
		position: relative;
		padding: 2em 3px 3px 3px;
		font-size: 12px;
	}
	.footer {
		position: absolute;
		margin-top: 100vh;
	}
	/*-------------======== Main page small screen =========----------------*/
.main-page {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: grid;
	font-family: sans-serif;
}
.Cybersecurity {
	display: inline-flex;
}
.Cybersecurity img {
	margin: 1em;
	border-radius: 50%;
	height: 5em;
	width: 5.1em;
}
/* -----------================ content small screen =============------------------*/

.contenty {
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #fff;
}
.content {
	margin: 0em 1em;
	display: inline-flex;
	text-align: center;
	font-size: 15px;
	font-family: sans-serif;
}
.mission {
	padding: 1vh;
	border-radius: 12px;
	background-color: grey;
	margin-right: 7px;
	text-align: center;
	height: 13em;
	width: 18em;
}
.vision {
	padding: 1vh;
	border-radius: 12px;
	background-color: grey;
	text-align: center;
	height: 13em;
	width: 18em;
}

/* -------======info page small ===----*/

.info, .infi{
	border-radius: 0;
	display: flex;
	font-size: 12px;
	height: 17em;

}
.infi span {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	float: right;
	padding: 0;
	margin: 0;
}
.info span {
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	float: left;
	padding: 0;
}
.hinfo {

	text-align: center;
}
.infi img {
	height: 10em;
	width: 10em;
}
.info img {
	height: 10em;
	width: 10em;
}
/*------------=========List Of Services ==========--------------*/

.pro {
	display: none;
}
/*-------------============ Footer small screen=========------------*/
.footer {
	margin-top: 0px;
	font-size: 12px;
	background-color: rgba(0, 0, 255, 0.4);
	width: 100%;
}
.block {
	display: inline-flex;
}
.copy {
	text-align: center;
}
.address {
	padding-left: 0;
}

.contacts {
	width: 10em;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.user {
	margin: 0.5em;
	width: 100%;
}.mail {
	margin: 0.5em;
	width: 100%;
}.submit {
	height: 2em;
	width: 100%;
	margin: 1em 1em 1em 1.5em;
}.area {
	height: 10vh;
	width: 100%;
	margin: 0.5em;
}
.ims {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 2em ;
}
.ims img {
	margin: 2px;
}

}
/* ----------========== animation keyframes ==========-----------*/

@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}

